<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Helloooo!">
    <meta name="description" content="The personal website and portfolio of me, Emil Söderqvist! A list of some of the projects that I have worked on and what I am currently open to!">
    <meta name="keywords" content="portfolio, development, programming, personal">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <link rel="icon" type="image/x-icon" href="/images/bracket.png">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/scripts/index.js"></script>
    <title>Emil Söderqvist - Hello!</title>
</head>
<body>
    <div id="main-container">
        <div class="fadeInUp-animation" id="intro-container">
            <h1>Hello, I'm Emil Söderqvist!</h1>
            <p>Programming and software development have been some of my biggest interests for as long as I can remember! It started with me trying to create mods and levels for games at a very young age and ended up being my career choice. Most comfortable and proficient in C# and JavaScript but can understand and use most other languages as well.</p>
            <div id="socials">
                <a target="_blank" href="https://github.com/Skuffies"><img src="/images/github-32x32.png" alt="GitHub Social Icon"></a>
                <a target="_blank" href="https://discordapp.com/users/327692124659384330"><img src="/images/discord-32x32.png" alt="Discord Social Icon"></a>
                <a target="_blank" href="https://www.linkedin.com/in/emilsoderq/"><img src="/images/linkedin-32x32.png" alt="LinkedIn Social Picture"></a>
                <a target="mailto:contact@emilsoderqvist.com" href="mailto:contact@emilsoderqvist.com"><img src="/images/mail-32x32.png" alt="Mail Social Picture"></a>
            </div>
        </div>
    </div>
</body>
</html>