<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilsoderqvist.com</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/bracket.png">
    <script defer src="/scripts/scroller.js"></script>
    <script defer src="/scripts/loadProjects.js"></script>
    <script defer src="/scripts/title.js"></script>
</head>
<body>
    <div id="app">
        <div id="intro" class="row container">
            <img id="profile-img" src="/images/profile.webp" alt="Profile Picture">
            <div class="column horizontal">
                <h1 id="title">Hej! Jag heter Emil Söderqvist</h1>
                <div>
                    <p style="display: inline">
                        Jag har utvecklat program de senaste 10+ åren av mitt liv och jag håller alltid på med något nytt.
                        Har precis tagit studenten från en spelutvecklingslinje på gymnasienivå, men håller inte bara på med spel!
                        Jag är en backend-utvecklare som mestadels arbetar med JavaScript eller C#.
                        Min främsta programmeringsprestation är ett verktyg som används av <p class="highlight">Sveriges tredje största sjukhus.</p>
                </p>
                </div>
                <div class="row">
                    📌 Skåne, Sverige;
                    💼 NodeJS automationsutvecklare;
                </div>
                <div id="socials">
                    <a target="_blank" href="https://github.com/Skuffies"><img src="/images/socials/github-32x32.png" alt="GitHub Social Icon"></a>
                    <a target="_blank" href="https://discordapp.com/users/327692124659384330"><img src="/images/socials/discord-32x32.png" alt="Discord Social Icon"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/emilsoderq/"><img src="/images/socials/linkedin-32x32.png" alt="LinkedIn Social Picture"></a>
                    <a target="mailto:contact@emilsoderqvist.com" href="mailto:contact@emilsoderqvist.com"><img src="/images/socials/mail-32x32.png" alt="Mail Social Picture"></a>
                </div>
                <div class="long-divider"></div>
            </div>
        </div>
        <div class="column container">
            <a href="/teknik">Klicka här för teknikhjälp</a>
        </div>
        <div class="column container">
            <h1>Teknologier</h1>
            <div class="vertical">
                <div class="row nogap">
                    <div class="small-divider blue"></div>
                    <div class="scroller" speed="fast">
                        <div class="scroller-inner">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/960px-JavaScript-logo.png" alt="JavaScript">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Logo_C_sharp.svg/960px-Logo_C_sharp.svg.png" alt="C#">
                            <img src="https://www.ovhcloud.com/sites/default/files/styles/large_screens_1x/public/2021-09/ECX-1909_Hero_MySQL_600x400%402x-1.png" alt="MySQL">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Official_unity_logo.png" alt="Unity">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="NodeJS">
                            <img src="https://cdn.worldvectorlogo.com/logos/docker-3.svg" alt="Docker">
                        </div>
                    </div>
                    <div class="small-divider orange"></div>
                </div>
            </div>
        </div>
        <div class="column container">
            <h1>Projekt</h1>
            <div id="project-list"></div>
        </div>
    </div>
</body>
</html>