<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Helloooo!">
    <meta name="description" content="The personal website and portfolio of me, Emil Söderqvist! A list of some of the projects that I have worked on and what I am currently open to!">
    <meta name="keywords" content="portfolio, development, programming, personal">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <link rel="icon" type="image/x-icon" href="/assets/brackets-spaced.png">
    <link rel="stylesheet" href="/css/index.css">
    <title>Hello!</title>
</head>

<body>
    <div id="app">
        <div id="icon-container">
            <div id="bracket-icons"></div>
        </div>
        <div id="content-wrapper">
            <!-- Divider between containers -->
            <div id="divider"></div>

            <!-- Left side content -->
            <div id="left-container" class="side-container">
                <%- left_content %>
            </div>

            <!-- Right side content (duplicate) -->
            <div id="right-container" class="side-container">
                <%- right_content %>
            </div>
        </div>
    </div>

    <script src="/scripts/index.js"></script>
</body>
</html>