<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teknikhjälp med Emil</title>
    <link rel="stylesheet" href="/css/it-help.css">
    <link rel="icon" type="image/x-icon" href="/images/bracket.png">
</head>
<body>
    <div id="app">
        <div id="intro" class="row container">
            <img id="profile-img" src="/images/profile.webp" alt="Profile Picture">
            <div class="column horizontal">
                <h1 id="title">Hej! Jag heter<br>Emil Söderqvist!</h1>
                <div>
                    <p>💼 IT-kunning gymnasieelev</p>
                    <p>📌 Staffanstorp</p>
                </div>
            </div>
        </div>
            <div class="container divider-container">
                <div class="divider"></div>
            </div>
        <div id="content">
        <div class="container">
            <!--<h2>Vill </h2><h2 class="bold">du</h2><h2> ha hjälp<br>med tekniken?</h2>!-->
            <h2>Vill du ha hjälp<br>med tekniken?</h2>
        </div>
        <div class="container">
            <h3>Jag kan till exempel hjälpa till med:</h3>
        </div>
        <div class="container">
            <ul>
                <li>Installation av TV: koppla in, installera kanaler m.m</li>
                <li>Installation av dator eller datorprogram</li>
                <li>Installation av Wi-Fi/Modem/Nätverks-utrustning</li>
                <li>Överföra foton, kontakter m.m till en ny telefon</li>
                <li>Bli av med inkräktande reklam eller virus</li>
            </ul>
        </div>
        <div class="container">
            <h3>Vad passar dig?</h3>
        </div>
        <div class="container">
            <ul class="no-style">
                <li>✓ Rutavdrag</li>
                <li>✓ Svenska eller engelska</li>
                <li>✓ Swish eller faktura</li>
                <li>✓ Staffanstorp eller Lund</li>
            </ul>
        </div>
        <h1 id="price-text" class="bold center">299 kr<br>per påbörjad<br>timme, efter RUT-<br>avdrag*</h1>
        </div>
        <div id="button-container">
            <a id="call-to-action" href="tel:070-385 42 36">Skicka ett SMS!</a>
        </div>
    </div>
</body>
</html>