<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teknikhjälp med Emil</title>
    <link rel="stylesheet" href="/css/it-help.css">
    <link rel="icon" type="image/x-icon" href="/images/bracket.png">
</head>
<body>
    <div id="app">
        <div id="app-width">
            <div id="intro" class="row container">
            <img id="profile-img" src="/images/profile.webp" alt="Profile Picture">
            <div class="column horizontal">
                <h1 id="title">Teknikstrul?<br>Det fixar jag!</h1>
                <div>
                    <p>💼 IT-Support</p>
                    <p>📌 Staffanstorp</p>
                </div>
            </div>
        </div>
            <div class="container divider-container">
                <div class="divider"></div>
            </div>
        <div class="container">
            <h3>Jag erbjuder bland annat:</h3>
        </div>
        <div class="container">
            <ul>
                <li>Installation av TV: koppla in, installera kanaler</li>
                <li>Installation av dator eller datorprogram</li>
                <li>Installation av Wi-Fi/Modem/Nätverks-utrustning</li>
                <li>Överföra foton och kontakter till en ny telefon</li>
                <li>Bli av med inkräktande reklam eller virus</li>
                
            </ul>
        </div>
        <div class="container">
            <ul class="no-style">
                <li>✓ Rutavdrag</li>
                <li>✓ Svenska eller engelska</li>
                <li>✓ Swish eller faktura</li>
                <li>✓ Nära till Staffanstorp, Lund, Malmö</li>
            </ul>
        </div>
        <div class="container">
            🏷️ 375 (inkl moms) kr per påbörjad timme, efter RUT-avdrag*
        </div>
        <div class="container">
            🚗 Framkörningsavgift tillkommer med 75 kr per mil (enkel väg) från Södergatan i Staffanstorp.
        </div>
        <div class="container">
            <ul class="no-style">
                <li><span class="bold">📱 Telefonnummer:</span> 070-385 42 36</li>
                <li><span class="bold">📧 Mejladress:</span> kontakt@emilsoderqvist.com</li>
            </ul>
        </div>
        <div class="container">
            ‼️Är inte alltid tillgänlig att svara i telefon så skicka gärna SMS!
        </div>
                    <div class="container nav">
                <a href="/">Klicka för IT-hjälp</a>
                <a href="/portfolio">Klicka för portfölj</a>
            </div>
        </div>
    </div>
</body>
</html>